<h1 style="text-align: center;">Page does not exist</h1>
<div style="width: 70%; height: 80%; margin: 20px auto">
    <img src="/images/Accessibility_hero-copy.jpg" alt="Page not found image" width="100%" height="inherit"
        style="object-fit: contain;">
</div>